
body{
    font-family: "Open Sans", sans-serif;
}
h1{
    font-size: 40px;
    color: #053150;
    margin-left: 90px;
}
p{
    color: #E66B6C;
    cursor: pointer;
    margin-left: 174px;
}
p:active{
    color: #e66b6ba8;
}
.container{
    display: flex;
    justify-content: space-between;
    gap: 325px;
    padding: 5px 0;
}

.main{
    display: grid;
    place-items: center;
    background: white;
}

.box{
    box-shadow: 2px 2px 5px 3px rgba(0, 0, 0, 0.329);
    border-radius: 5px;
    padding: 10px;
    
}

.items{
    padding-top: 15px;
}

.fa-pen-to-square{
    color: rgb(106,229,116);
    cursor: pointer;
}
.fa-pen-to-square:active{
    color: rgba(106, 229, 116, 0.61);

}

.fa-trash{
    color: #E66B6C;
    cursor: pointer;
}

.fa-trash:active{
    color: #e66b6ba1;

}
input{
    border-color: #F1F5F8;
    background: #F1F5F8;
    border-radius: 6px;
    outline-color:#5293DC; 
    box-shadow: none;
    border: 0 ;
    padding: 5px 0;
    width: 360px;
}


button{
    background: #A5D5F9;
    border: 0;
    padding: 5px 5px;
    border-radius: 5px;
    cursor: pointer;
}

button:active{
    background: #a5d5f99f ;
}